/*Schrijf hier jouw eigen CSS!*/

h1 {
  color: #00eaff;
    text-align: center;
}

.app-container {
    display: flex;
    flex-direction: column;
    background-color: #213547;
    color: #ffffff;
}